<phpunit colors="true" bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Glad Authentication Tests">
        <file>tests/Glad/GladProviderTest.php</file>
        <file>tests/Glad/AuthorTest.php</file>
        <file>tests/Glad/GladTest.php</file>
        <file>tests/Glad/ConditionsTest.php</file>
    	<file>tests/Glad/InjectorTest.php</file>
    	<file>tests/Glad/Event/DispatcherTest.php</file>
        <file>tests/Glad/Driver/Security/Crypt/CryptTest.php</file>
        <file>tests/Glad/Driver/Security/Hash/HashTest.php</file>
        <file>tests/Glad/Driver/Repository/NativeSession/SessionTest.php</file>
        <file>tests/Glad/Driver/Repository/Memcache/MemcacheTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>